/*body {
    background-color: red;
}*/

li {
    margin: 10px;
    list-style: none;
}

li a {
    color: black;
}

li a:hover {
    color: red;
    text-decoration: none;
}

button {
    background-color: dodgerblue;
}

.delete {
    background-color: red;
}

.login {
    color: blue;
}